/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}
input.cell {
	width: 60px;
	height: 20px;
	border: 1px solid #E4E4E4;
}
input.cell.disabled_cell {
	background: #EFEFEF;
	color: white;
	font-weight: 400;
	text-align: center;
}
.editing_field {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}
#currently_edited {
    margin: 0px 2px;
    padding: 2px 4px;
    background: white;
    color: #242424;
    font-weight: bold;
}