body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
.js_wrapper {
    padding: 0;
    margin: 0;
}
.row {
    width: 100%;
    margin: 0;
    padding: 0;
}
.row:hover {
    background-color: #EEEEEE;
}
.cell {
    background: none;
}
/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}
input.cell {
    font-size: 1em;
    padding: 0.1em 0em 0.2em;
	border: 1px solid #E4E4E4;
    width: 100%;
}
input.cell.textCell {
    text-align: left;
    color: green;
    font-weight: bold;
    font-style: normal;
}
input.cell.numberCell {
    text-align: right;
    color: blue;
    font-weight: 400;
    font-style: italic;
}
input.cell.disabled_cell {
	background-color: #3949AB;
    border: 1px solid #3949AB;
	color: white;
	font-weight: 400;
	text-align: center;
}
.editing_field {
    margin-top: 15px;
    color: white;
    font-size: 13px;
}
#currently_edited {
    margin: 0px 8px;
    border-radius: 35px;
    padding: 7px;
    background: white;
    color: #242424;
    font-weight: bold;
}